# Dependency directories
node_modules/

# Build ouput
dist/
build/

# dotenv environment variable files
.env

# Prisma related files
prisma/dev.db
prisma/dev.db-journal

# VSCode settings
.vscode/

# Windows system files
Thumbs.db
ehthumbs.db
Desktop.ini

# Log files
*.log
